.product-wrapper {
  .container {
    .row {
      .product-slider {
        .carousel-root {
          display: flex;
          flex-direction: row-reverse;
          .carousel-slider {
            .axis-horizontal {
              max-width: 450px;
              .slider {
                .slide {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
            .control-arrow {
              height: 50px;
              width: 50px;
              border: 1px solid #cfcfcf;
              border-radius: 50%;
              top: 50%;
           
            }
            .control-prev {
          
              background-color: #a5a5a5;
              &::before {
                margin: 0 5px 3px;
                border-right: 8px solid white;

              }
            }
            .control-next {
              background-color: #a5a5a5;
              &::before {
                margin: 0 5px 3px;
                border-left: 8px solid white;
              }
            }
          }
          .carousel:last-child {
            .axis-vertical {
              .thumbs  {
                padding-left: 70px!important;
                .thumb {
                  width: 70px!important;
                  border: 1px solid #e1e1e1;
                  border-radius: 10px;
                  display: flex;
                  flex-direction: column;
                }
                
              }
            }
          }
        }
      }
      .product-desc {
        h2 {
          font-size: 1.5rem;
          line-height: 2rem;
          color: #1f2937;
        }
        .price {
          
        }
        p {
          font-size: .875rem;
          margin-top: 1rem;
          line-height: 1.75rem;
          color: #798188;
        }
      }
    }
  }
}